.main-header{
    display: flex;
    background: transparent;
    background-color: rgb(128,52,195);
    padding: 0px;
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    align-items: center;
}


.main-navigation__item a{
    color: #fff;
}

.main-navigation__item a:hover {
    color: #efb6df;
}

.main-navigation__item.active a{
    color: #efb6df;
}

.common-banner__image{
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 450px;
    background: url(../images/common-banner.webp) no-repeat right bottom;
    background-size: cover;
    z-index: 1;
}

.common-banner__info{
    box-sizing: border-box;
    padding-top: 150px;
    margin-left: 50px;
    margin-top: 40px;
    text-align: center !important;
}

.common-banner__info h1{
    color: #fff;
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

.page-links a{
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-family: "Roboto", sans-serif;
    padding-left: 20px;
    padding-right: 8px;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}